{% extends 'layouts/base.html' %}

{% block encabezado %}
Ayuda y Soporte Tecnico
{% endblock %}

{% block cuerpo %}
<h1>Ayuda y Soporte Tecnico</h1>

<div class="parrafo">
    <p>
    <h2>Explicacion</h2>
    El juego consiste en ingresar letra por letra para adivinar la palabra oculta,
    contiene 8 intentos que se decrementan al ingresar la letra que no esta en
    la palabra oculta y se debe tomar en cuenta que la palabra puede llevar un espacio.
    </p>
</div>

<div class="parrafo" style="justify-content: space-between; margin-left: 50%; margin-top: -31%;">
    <p>
    <h2>Creado por: </h2>
    <p>Lorena Jacqueline Godoy </p>
    <p>Jose Luis Ramos Sanchez</p>
    <p>Carlos Rene Sanchez Perez</p>
    <p>Christian Ivan Orellana Acosta</p>
    <p><a href="mailto:Joseluis40.js@gmail.com">Contactar al Grupo2@gmail.com</a></p>




    </p>
</div>

{% endblock %}